[submodule "blocks/ImGui"]
	path = blocks/ImGui
	url = https://github.com/simongeilfus/Cinder-ImGui.git
[submodule "blocks/PCL"]
	path = blocks/PCL
	url = git://github.com/izumin5210/Cinder-PCL.git
[submodule "blocks/nod"]
	path = blocks/nod
	url = https://github.com/fr00b0/nod.git
[submodule "blocks/msgpack"]
	path = blocks/msgpack
	url = https://github.com/msgpack/msgpack-c.git
[submodule "framework"]
	path = framework
	url = https://github.com/cinder/Cinder.git
